*.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.clang-tidy
.vs/
.vscode/

build/
build-em/
build-debug/
build-release/
build-static/
build-cublas/
build-opencl/
build-metal/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*
*.bin

/main
/quantize
/quantize-stats
/result
/perplexity
/embedding
/benchmark-matmult
/vdot
/Pipfile
/libllama.so

build-info.h
arm_neon.h
compile_commands.json

__pycache__

zig-out/
zig-cache/

ppl-*.txt
qnt-*.txt
perf-*.txt

examples/jeopardy/results.txt
_screenshots/First Interaction.JPG
_screenshots/Second Interaction.JPG
_scripts/run prompts.txt
rebuild.bat
run.bat
tts_output.wav
*.wav
prompts/flan-assistant.txt
prompts/flan-assistant-simple.txt
startup-cache.txt
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac_RELWITHDEBINFO_loc
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac_RELEASE_loc
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac_MINSIZEREL_loc
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac_DEBUG_loc
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac.vcxproj.filters
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmTC_dfeac.vcxproj
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeLists.txt
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeFiles/TargetDirectories.txt
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeFiles/generate.stamp.depend
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeFiles/generate.stamp
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeFiles/cmake.check_cache
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMakeCache.txt
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/CMAKE_TRY_COMPILE.sln
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/cmake_install.cmake
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/ALL_BUILD.vcxproj.filters
CMakeFiles/CMakeScratch/TryCompile-b0jl5z/ALL_BUILD.vcxproj
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/3.26.4/x64/Debug/VCTargetsPath.recipe
CMakeFiles/3.26.4/VCTargetsPath.vcxproj
CMakeFiles/3.26.4/VCTargetsPath.txt
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
CMakeFiles/3.26.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.26.4/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.26.4/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.26.4/CompilerIdC/Debug/CompilerIdC.exe.recipe
CMakeFiles/3.26.4/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.26.4/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.26.4/CMakeSystem.cmake
CMakeFiles/3.26.4/CMakeRCCompiler.cmake
CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
CMakeFiles/3.26.4/CMakeCCompiler.cmake
examples/chat-with-vicuna.txt
prompts/holiday-extras-test.txt
prompts/test.txt
